* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #f5f2ec;
}

main {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../imgs/fundo-login-adm.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  width: 80%;
  height: 90%;

  background: #725736C2;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 30%;
}

p{
    color: white;
    font-weight: 500;
    font-size: 24px;
}

form {
  width: 80%;

  display: flex;
  flex-direction: column;
  gap: 45px;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  color: #fff;
  font-size: 1rem;
}

input {
  width: 100%;
  height: 45px;

  border: none;
  outline: none;

  padding: 0 15px;

  background: #d8bea9;
  color: #4d3b2f;

  font-size: 1rem;
}

.senha-box {
  position: relative;
  width: 100%;
}

.icone {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #8a7565;
  font-size: 18px;
  pointer-events: none;
}

.btn-login {
  width: 100%;
  height: 48px;

  border: none;
  border-radius: 4px;

  background: #a38e7d;
  color: #4d3b2f;

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background: #e6cdb8;
}


@media (max-width: 768px) {

  section {
    width: 90%;
    height: 75%;
  }

  .logo {
    width: 60%;
  }

  form {
    width: 85%;
  }

}